$black-1: #222325;
$green-1: #008e6b;
$green-2: #5bf2ce;
$green-3: #53dfbd;
$green-4: #64ffda;
$silver-1: #a7c3e5;
$silver-2: #8392a5;
$gray-1: #d1d3d7;
$gray-2: #a6a095;
$gray-3: #464646;
$orange: #fbb02d;