@mixin ul-global {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@mixin animate($name, $duration, $easing-func, $delay, $times, $direction) {
  animation: $name $duration $easing-func $delay $times $direction;
}