@use "../abstracts/colors";
@use "../abstracts/mixins";
@use "../abstracts/animations";

.bio-wrapper {
  display: flex;
  padding: 0 10%;
  margin-bottom: 10%;
  justify-content: center;
  @include mixins.breakpoint(XXL, down) {
    flex-direction: column;
    align-items: center;
  }
}

.message-container {
  margin-right: 4rem;
  @include mixins.breakpoint(XXL, down) {
    margin-right: 0;

    > h1 {
      text-align: center;
    }

    > p {
      max-width: 100%;
    }
  }
  @include mixins.breakpoint(XS, down) {
    h1 {
      font-size: 2rem;
    }

    p {
      font-size: 1.3rem;
    }
  }

  @include mixins.breakpoint(M, up) {
    max-width: 800px ;
  }

  h1 {
    font-size: 3rem;
    margin-bottom: 48px;
    visibility: hidden;
    @include mixins.animate(crop-out, 2s, ease, 0.5s, 1, normal);
  }

  h2 {
    font-size: 2rem;
    margin-bottom: 32px;
  }

  p {
    text-align: justify;
    font-size: 1.5rem;
    margin-bottom: 32px;
    white-space: pre-line;
  }
}

#introduction-1 {
  visibility: hidden;
  @include mixins.animate(crop-out, 2s, ease, 2.5s, 1, normal);
}

#paragraph-1 {
  visibility: hidden;
  @include mixins.animate(crop-out, 2s, ease, 1.5s, 1, normal);
}

#paragraph-2 {
  visibility: hidden;
  @include mixins.animate(crop-out, 2s, ease, 2s, 1, normal);
}

#paragraph-3, {
  visibility: hidden;
  @include mixins.animate(crop-out, 2s, ease, 2.5s, 1, normal);
}

#paragraph-4 {
  visibility: hidden;
  @include mixins.animate(crop-out, 2s, ease, 3s, 1, normal);
}

.image {
  height: 440px;
  margin-top: 99px;
  padding: 5px;
  border: 1px solid colors.$gray-1;
  border-radius: 16px;
  opacity: 0.8;
  visibility: hidden;
  @include mixins.animate(crop-out-80, 2s, ease-in-out, 4s, 1, normal);
  @include mixins.breakpoint(XXL, down) {
    margin: 2rem auto;
    width: auto;
  }
  @include mixins.breakpoint(XS, down) {
    width: 100%;
    height: 100%;
    max-width: 330px;
  }
}