@use "../abstracts/colors";

.bio-wrapper {
  display: flex;
  padding: 0 10%;
  margin-bottom: 10%;
  justify-content: center;
}

.message-container {
  margin-right: 4rem;

  h1 {
    font-size: 3rem;
    margin-bottom: 48px;
  }

  h2 {
    font-size: 2rem;
    margin-bottom: 32px;
  }

  p {
    max-width: 800px;
    text-align: justify;
    font-size: 1.5rem;
    margin-bottom: 32px;
    white-space: pre-line;
  }
}

.image {
  height: 440px;
  margin-top: 99px;
  padding: 5px;
  border: 1px solid colors.$gray-1;
  border-radius: 16px;
  opacity: 0.8;
}