@use "../abstracts/colors";
@use "../abstracts/mixins";
@use "../abstracts/animations";

#home-container {
  max-width: 1500px;
  margin-right: auto;
  margin-left: auto;
}

#hello {
  visibility: hidden;
  @include mixins.animate(crop-out, 2s, ease, 1.5s, 1, normal);
  @include mixins.breakpoint(XS, down) {
    h1 {
      font-size: 1.1rem;
    }
  }

  > h1 {
    font-size: 1.5rem;
  }
}

#introduction-1 {
  > h2 {
    font-size: 48px;
    @include mixins.breakpoint(XS, down) {
      font-size: 1.7rem;
    }
  }
}

#introduction-2 {
  visibility: hidden;
  @include mixins.animate(crop-out, 2s, ease, 3.5s, 1, normal);

  > h3 {
    color: colors.$gray-2;
    font-size: 1.8rem;
    @include mixins.breakpoint(XS, down) {
      font-size: 1.3rem;
    }
  }
}

#hello, #introduction-1, #introduction-2 {
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 32px;
}

.home-footer {
  margin-left: 10%;
  margin-right: 10%;
  width: auto;
  display: flex;
  justify-content: right;
  margin-bottom: 10%;
  @include mixins.breakpoint(XXL, up) {
    max-width: 1380px;
    margin-left: auto;
    margin-right: auto;
  }
  @include mixins.breakpoint(XS, down) {
    justify-content: center;
  }
}

#secret-programmer {
  visibility: hidden;
  color: colors.$green-3;
  font-size: 23rem;
  @include mixins.animate(crop-out, 4s, linear, 0.5s, 1, alternate);
  @include mixins.breakpoint(XS, down) {
    font-size: 15rem;
  }
}
