@use "../abstracts/colors";
@use "../abstracts/mixins";

.projects-wrapper {
  margin-bottom: 10%;

  > h1 {
    font-size: 3rem;
    margin-bottom: 48px;
    text-align: center;
    margin-left: 2%;
    margin-right: 2%;
    opacity: 0;
    @include mixins.animate(large-signal-interference, 0.05s, ease, 1s, 7, alternate);
  }
}

.projects-container {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1800px;
  margin-right: auto;
  margin-left: auto;
  opacity: 0;
  @include mixins.animate(small-signal-interference, 0.05s, linear, 1s, 7, alternate);
}

.project {
  position: relative;
  width: 450px;
  height: 400px;
  list-style-type: none;
}

.project-description {
  font-size: 1.3rem;
}

.project-tech-stacks-container {
  flex-wrap: wrap;
  justify-content: center;
}

.project-tech-stack {
  font-size: 1.1rem;
  font-weight: bold;
  color: colors.$gray-1;
  background-color: colors.$green-1;
  padding: 10px 15px;
  margin: 2px;
  border-radius: 32px;
}

.project-tech-stack:hover {
  color: colors.$black-1;
  background-color: colors.$green-3;
}

.project-bottom-bar {
  position: absolute;
  display: none;
  gap: 20px;
  width: 100%;
  bottom: 0;
  padding: 10px 40px 30px 40px;
}

.project-icon {
  font-size: 2rem;
  color: colors.$orange;
  padding: 12px;
}

.project-icon:hover {
  color: colors.$green-3;
  background-color: colors.$black-1;
  padding: 12px;
  border-radius: 14px;
}

.project-image {
  z-index: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 0.8;
  border-radius: 32px;
}

.project-header, .project-description {
  text-align: center;
}

.project-header, .project-description, .project-tech-stacks-container {
  display: none;
  padding: 20px 30px 0 30px;
}

.project:hover .project-description, .project:hover .project-header {
  display: block;
  position: relative;
}

.project:hover .project-tech-stacks-container, .project:hover .project-bottom-bar {
  display: flex;
}

.project:hover .project-image {
  opacity: 0.05;
}

.project-header, .project-description, .project-tech-stacks-container, .project-tech-stack, .project-bottom-bar, .project-icon {
  z-index: 1;
}