@use "../abstracts/mixins";
@use "../abstracts/colors";

.navbar {
  font-size: 2rem;
  font-weight: bold;
  padding: 0 18px;
  @include mixins.breakpoint(XS, down) {
    font-size: 1.5rem;
  }

  ul {
    @include mixins.ul-global;
    gap: 1.3rem;
  }
}

.nav-link {
  padding: 5px 15px;
  border: 3px solid transparent;
  border-radius: 16px;
}

.nav-link:hover {
  border-color: colors.$green-2;
}