@use "../abstracts/mixins";

.social-links {
  display: inline-block;
  padding: 16px 0;

  ul {
    gap: 4rem;
    font-size: 4rem;
    @include mixins.ul-global;
    @include mixins.breakpoint(M, down) {
      font-size: 3rem;
    }
  }
}