@use "../abstracts/mixins";

.tech-stack {
  width: 100%;
  display: inline-block;
  padding: 16px 0;

  ul {
    @include mixins.ul-global;
    gap: 3rem;
    font-size: 5rem;
    justify-content: space-evenly;
  }
}

.tech-name-container {
  position: relative;
  display: flex;
  justify-content: center;
}

.tech-name {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
  position: absolute;
  display: none;
  font-size: 1.3rem;
  color: var(--gray-1);
  background-color: var(--gray-3);
  padding: 3px 15px;
  margin: 16px 0 0 0;
  border-radius: 16px;
}

.tech-icon:hover .tech-name {
  display: block;
}