*, ::before, ::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --brown-1: #391b00;
    --black-1: #222325;
    --green-1: #008e6b;
    --green-2: #5bf2ce;
    --green-3: #53dfbd;
    --green-4: #64ffda;
    --silver-1: #a7c3e5;
    --silver-2: #8392a5;
    --gray-1: #d1d3d7;
    --gray-2: #a6a095;
    --gray-3: #464646;
}

body {
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
    background-color: var(--black-1);
    color: var(--gray-1);
}

a {
    color: inherit;
    text-decoration: none;
}

i {
    color: inherit;
}

a > i:hover, li > i:hover {
    color: var(--green-4);
}

.short-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10%;
}

.wide-wrapper {
    display: flex;
    justify-content: space-evenly;
    padding: 0 10%;
    margin-bottom: 10%;
}

.message-container {
    margin-right: 4rem;
}

.short-wrapper > h1 {
    text-align: center;
}

.short-wrapper > h1, .message-container > h1 {
    font-size: 3rem;
    margin-bottom: 3rem;
}

.short-wrapper > h2, .message-container > h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
}

.short-wrapper > p {
    max-width: 680px;
}

.short-wrapper > p {
    text-align: justify;
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.message-container > p {
    max-width: 800px;
    text-align: justify;
    font-size: 1.5rem;
    margin-bottom: 2rem;
    white-space: pre-line;
}

#hello, #introduction-1, #introduction-2 {
    margin-left: 10%;
    margin-bottom: 2rem;
}

#hello > h1 {
    font-size: 1.5rem;
}

#introduction-1 > h2 {
    font-size: 3rem;
}

#introduction-2 > h3 {
    color: var(--gray-2);
    font-size: 1.8rem;
}

.text-highlight {
    color: var(--green-4);
    font-weight: bold;
}

#header {
    margin: 2rem 0 10rem 0;
}

.navbar {
    font-size: 2rem;
    font-weight: bold;
    padding: 0 3rem;
}

.tech-stack {
    width: 100%;
}

.social-links, .tech-stack {
    display: inline-block;
    padding: 1rem 0;
}

.navbar > ul, .social-links > ul, .tech-stack > ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
}

.tech-stack > ul > li > i:hover .tech-name {
    display: block;
}

.tech-name-container {
    position: relative;
    display: flex;
    justify-content: center;
}

.tech-name {
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
    position: absolute;
    display: none;
    font-size: 1.3rem;
    color: var(--gray-1);
    background-color: var(--gray-3);
    padding: 3px 15px;
    margin: 1rem 0 0 0;
    border-radius: 16px;
}

.tech-stack > ul {
    font-size: 5rem;
    justify-content: space-evenly;
}

.social-links > ul {
    gap: 4rem;
    font-size: 5rem;
}

.home-footer {
    margin-left: 10%;
    margin-right: 10%;
    width: auto;
    display: flex;
    justify-content: right;
    margin-bottom: 10%;
}

#secret-programmer {
    color: var(--green-3);
    font-size: 23rem;
}

.image {
    height: 440px;
    margin-top: 6.2rem;
    padding: 5px;
    border: 1px solid var(--gray-1);
    border-radius: 16px;
    opacity: 0.8;
}

.projects-wrapper {
    margin-bottom: 10%;
}

.projects-wrapper > h1 {
    font-size: 3rem;
    margin-left: 14%;
    margin-bottom: 48px;
}

.projects-container {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
}

.project {
    position: relative;
    width: 450px;
    height: 400px;
    list-style-type: none;
}

.project-header, .project-description {
    text-align: center;
}

.project-description {
    font-size: 1.3rem;
}

.project-tech-stacks-container {
    flex-wrap: wrap;
    justify-content: center;
}

.project-header, .project-description, .project-tech-stacks-container {
    display: none;
    padding: 20px 30px 0 30px;
}

.project-tech-stack {
    font-size: 1.1rem;
    font-weight: bold;
    color: var(--gray-1);
    background-color: var(--green-1);
    padding: 10px 15px;
    margin: 2px;
    border-radius: 32px;
}

.project-tech-stack:hover {
    color: var(--black-1);
    background-color: var(--green-3);
}

.project-image {
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    opacity: 0.8;
    border-radius: 32px;
}

.project-bottom-bar {
    position: absolute;
    display: none;
    justify-content: flex-end;
    gap: 20px;
    width: 100%;
    bottom: 0;
    padding: 10px 40px 30px 0;
}

.project-icon {
    font-size: 2rem;
    color: #fbb02d;
    padding: 12px;
}

.project-icon:hover {
    color: var(--green-3);
    background-color: var(--black-1);
    padding: 12px;
    border-radius: 15px;
}

.project:hover .project-description, .project:hover .project-header {
    display: block;
}

.project:hover .project-tech-stacks-container, .project:hover .project-bottom-bar {
    display: flex;
}

.project:hover .project-image {
    opacity: 0.08;
}

@media (width < 680px) {

    /*.navbar {*/
    /*    font-size: 1rem;*/
    /*}*/

}

@media (width < 1350px) {
    .image {
        height: 400px;
    }
}

@media (width < 1280px) {
    .image {
        height: 350px;
    }
}

@media (width < 1180px) {
    .wide-wrapper {
        flex-direction: column;
    }

    .message-container {
        margin-right: 0;
    }

    .message-container > h1 {
        text-align: center;
    }

    .message-container > p {
        max-width: 100%;
    }

    .image {
        margin: 2rem auto;
        height: 600px;
        width: auto;
    }
}

@media (width < 1050px) {
    .projects-wrapper > h1 {
        text-align: center;
        margin-left: 2%;
        margin-right: 2%;
    }
}

@media (width < 870px) {
    .project {
        margin-right: 2%;
        margin-left: 2%;
    }
}