*, ::before, ::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
  background-color: #222325;
  color: #d1d3d7;
}

.text-highlight {
  color: #64ffda;
  font-weight: bold;
}

#header {
  margin: 64px 0 160px 0;
}

.active {
  color: #222325;
  background-color: #5bf2ce;
}

a {
  color: inherit;
  text-decoration: none;
}

i {
  color: inherit;
}

a > i:hover, li > i:hover {
  color: #64ffda;
}

@keyframes small-signal-interference {
  from {
    opacity: 0.01;
    transform: skewX(10deg);
  }
  to {
    opacity: 0.1;
    transform: skewX(-10deg);
  }
}
@keyframes large-signal-interference {
  from {
    opacity: 0.05;
    transform: skewX(80deg);
  }
  to {
    opacity: 0.9;
    transform: skewX(-80deg);
  }
}
@keyframes quick-zoom {
  from {
    transform: scale(0);
  }
  50% {
    transform: scale(1.2);
  }
  to {
    transform: scale(1);
  }
}
@keyframes crop-out {
  from {
    visibility: hidden;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}
@keyframes crop-out-80 {
  from {
    visibility: hidden;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 0.8;
  }
}
#home-container {
  max-width: 1500px;
  margin-right: auto;
  margin-left: auto;
}

#hello {
  visibility: hidden;
  animation: crop-out 2s ease 1.5s 1 normal;
}
@media (width < 480px) {
  #hello h1 {
    font-size: 1.1rem;
  }
}
#hello > h1 {
  font-size: 1.5rem;
}

#introduction-1 > h2 {
  font-size: 48px;
}
@media (width < 480px) {
  #introduction-1 > h2 {
    font-size: 1.7rem;
  }
}

#introduction-2 {
  visibility: hidden;
  animation: crop-out 2s ease 3.5s 1 normal;
}
#introduction-2 > h3 {
  color: #a6a095;
  font-size: 1.8rem;
}
@media (width < 480px) {
  #introduction-2 > h3 {
    font-size: 1.3rem;
  }
}

#hello, #introduction-1, #introduction-2 {
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 32px;
}

.home-footer {
  margin-left: 10%;
  margin-right: 10%;
  width: auto;
  display: flex;
  justify-content: right;
  margin-bottom: 10%;
}
@media (width > 1200px) {
  .home-footer {
    max-width: 1380px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (width < 480px) {
  .home-footer {
    justify-content: center;
  }
}

#secret-programmer {
  visibility: hidden;
  color: #53dfbd;
  font-size: 23rem;
  animation: crop-out 4s linear 0.5s 1 alternate;
}
@media (width < 480px) {
  #secret-programmer {
    font-size: 15rem;
  }
}

.bio-wrapper {
  display: flex;
  padding: 0 10%;
  margin-bottom: 10%;
  justify-content: center;
}
@media (width < 1200px) {
  .bio-wrapper {
    flex-direction: column;
  }
}

.message-container {
  margin-right: 4rem;
}
@media (width < 1200px) {
  .message-container {
    margin-right: 0;
  }
  .message-container > h1 {
    text-align: center;
  }
  .message-container > p {
    max-width: 100%;
  }
}
@media (width < 480px) {
  .message-container h1 {
    font-size: 2rem;
  }
  .message-container p {
    font-size: 1.3rem;
  }
}
.message-container h1 {
  font-size: 3rem;
  margin-bottom: 48px;
  visibility: hidden;
  animation: crop-out 2s ease 0.5s 1 normal;
}
.message-container h2 {
  font-size: 2rem;
  margin-bottom: 32px;
}
.message-container p {
  max-width: 800px;
  text-align: justify;
  font-size: 1.5rem;
  margin-bottom: 32px;
  white-space: pre-line;
}

#introduction-1 {
  visibility: hidden;
  animation: crop-out 2s ease 2.5s 1 normal;
}

#paragraph-1 {
  visibility: hidden;
  animation: crop-out 2s ease 1.5s 1 normal;
}

#paragraph-2 {
  visibility: hidden;
  animation: crop-out 2s ease 2s 1 normal;
}

#paragraph-3 {
  visibility: hidden;
  animation: crop-out 2s ease 2.5s 1 normal;
}

#paragraph-4 {
  visibility: hidden;
  animation: crop-out 2s ease 3s 1 normal;
}

.image {
  height: 440px;
  margin-top: 99px;
  padding: 5px;
  border: 1px solid #d1d3d7;
  border-radius: 16px;
  opacity: 0.8;
  visibility: hidden;
  animation: crop-out-80 2s ease-in-out 4s 1 normal;
}
@media (width < 1200px) {
  .image {
    margin: 2rem auto;
    width: auto;
  }
}
@media (width < 480px) {
  .image {
    width: 100%;
    height: 100%;
    max-width: 330px;
  }
}

.contact-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10%;
  animation: quick-zoom 3s ease 1 0s normal;
}
@media (width < 480px) {
  .contact-wrapper h1, .contact-wrapper h2 {
    font-size: 2rem;
  }
  .contact-wrapper p {
    font-size: 1.3rem;
  }
}
.contact-wrapper h1 {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 48px;
}
.contact-wrapper h2 {
  font-size: 2rem;
  margin-bottom: 32px;
}
.contact-wrapper p {
  max-width: 680px;
  text-align: justify;
  font-size: 1.5rem;
  margin-bottom: 32px;
}

.projects-wrapper {
  margin-bottom: 10%;
}
.projects-wrapper > h1 {
  font-size: 3rem;
  margin-bottom: 48px;
  text-align: center;
  margin-left: 2%;
  margin-right: 2%;
  opacity: 0;
  animation: large-signal-interference 0.05s ease 1s 7 alternate;
}
@media (width < 480px) {
  .projects-wrapper > h1 {
    font-size: 2rem;
  }
}

.projects-container {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1800px;
  margin-right: auto;
  margin-left: auto;
  opacity: 0;
  animation: small-signal-interference 0.05s linear 1s 7 alternate;
}

.project {
  position: relative;
  width: 450px;
  height: 400px;
  list-style-type: none;
}
@media (width < 900px) {
  .project {
    margin-right: 2%;
    margin-left: 2%;
  }
}
@media (width < 480px) {
  .project {
    width: 100%;
    height: 300px;
  }
}
.project:hover .project-header, .project:hover .project-description {
  display: block;
  position: relative;
}
.project:hover .project-tech-stacks-container, .project:hover .project-bottom-bar {
  display: flex;
}
.project:hover .project-image {
  opacity: 0.05;
}

.project-header {
  z-index: 1;
  display: none;
  text-align: center;
  padding: 20px 30px 0 30px;
}
@media (width < 480px) {
  .project-header {
    font-size: 1.2rem;
  }
}

.project-description {
  z-index: 1;
  display: none;
  font-size: 1.3rem;
  text-align: center;
  padding: 20px 30px 0 30px;
}
@media (width < 480px) {
  .project-description {
    font-size: 1rem;
  }
}

.project-tech-stacks-container {
  z-index: 1;
  display: none;
  padding: 20px 30px 0 30px;
  flex-wrap: wrap;
  justify-content: center;
}

.project-tech-stack {
  z-index: 1;
  font-size: 1.1rem;
  font-weight: bold;
  color: #d1d3d7;
  background-color: #008e6b;
  padding: 10px 15px;
  margin: 2px;
  border-radius: 32px;
}
@media (width < 480px) {
  .project-tech-stack {
    font-size: 1rem;
    padding: 2px 6px;
  }
}
.project-tech-stack:hover {
  color: #222325;
  background-color: #53dfbd;
}

.project-image {
  z-index: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 0.8;
  border-radius: 32px;
}

.project-bottom-bar {
  z-index: 1;
  position: absolute;
  display: none;
  gap: 20px;
  width: 100%;
  bottom: 0;
  padding: 10px 40px 30px 40px;
}
@media (width < 480px) {
  .project-bottom-bar {
    padding: 0 25px 10px 25px;
  }
}

.project-icon {
  z-index: 1;
  font-size: 2rem;
  color: #fbb02d;
  padding: 12px;
}
@media (width < 480px) {
  .project-icon {
    font-size: 1rem;
    padding: 6px;
    border-radius: 7px;
  }
  .project-icon:hover {
    padding: 6px;
    border-radius: 7px;
  }
}
.project-icon:hover {
  color: #53dfbd;
  background-color: #222325;
  padding: 12px;
  border-radius: 14px;
}

.navbar {
  font-size: 2rem;
  font-weight: bold;
  padding: 0 18px;
}
@media (width < 480px) {
  .navbar {
    font-size: 1.5rem;
  }
}
.navbar ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.3rem;
}

.nav-link {
  padding: 5px 15px;
  border: 3px solid transparent;
  border-radius: 16px;
}

.nav-link:hover {
  border-color: #5bf2ce;
}

.social-links {
  display: inline-block;
  padding: 16px 0;
}
.social-links ul {
  gap: 4rem;
  font-size: 4rem;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
@media (width < 768px) {
  .social-links ul {
    font-size: 3rem;
  }
}

.tech-stack {
  width: 100%;
  display: inline-block;
  padding: 16px 0;
  visibility: hidden;
  animation: crop-out 2s ease 3.5s 1 normal;
}
.tech-stack ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
  font-size: 5rem;
  justify-content: space-evenly;
}

.tech-name-container {
  position: relative;
  display: flex;
  justify-content: center;
}

.tech-name {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
  position: absolute;
  display: none;
  font-size: 1.3rem;
  color: #d1d3d7;
  background-color: #464646;
  padding: 3px 15px;
  margin: 16px 0 0 0;
  border-radius: 16px;
}

.tech-icon:hover .tech-name {
  display: block;
}

/*# sourceMappingURL=index.css.map */
