@use "abstracts/colors";
@use "pages/index" as pages;
@use "components/index" as components;

*, ::before, ::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
  background-color: colors.$black-1;
  color: colors.$gray-1;
}

a {
  color: inherit;
  text-decoration: none;
}

i {
  color: inherit;
}

a > i:hover, li > i:hover {
  color: colors.$green-4;
}

.text-highlight {
  color: colors.$green-4;
  font-weight: bold;
}

#header {
  margin: 64px 0 160px 0;
}

.active {
  color: colors.$black-1;
  background-color: colors.$green-2;
}